<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CPP_Library.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GEOTestLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>629E3BDE1B79D1CB00B6082D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>629E3BF91B79D1CB00B6082D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>629E47DC1B79DFD500B6082D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>629E47E61B79DFD500B6082D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
